<div class="bjui-pageContent">
    <form method="post" action="${ctxPath}/system/cms/data/batchSave" id="j_model_form" data-toggle="validate"
          data-autorefresh="true" data-alertmsg="false">
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
            @for(item in items) {
            <tr>
                <td class="font-bold">${item.itemName}<input type="hidden" name="itemId" value="${item.itemId!}"></td>
                @var count = 0;
                @for(f in field) {
                @if(count < 2) {
                @count = count + 1;
                <td>
                    @if(f.fieldClass=="input"){
                    <!--TODO 有待做详细的表单验证-->
                    <!--普通表单输入-->
                    @var t="";
                    @if(f.notNull){
                    @t ="data-rule=\"required;";
                    @if(f.fieldType=='int'){
                    @t=t+"'integer;'";
                    @if(f.fieldLength>1){
                    @t=t+"length(1~"+f.fieldLength+");";
                    @}else{
                    @t=t+"length("+f.fieldLength+");";
                    @}
                    @}
                    @t=t+"\"";
                    @}
                    <input type='text' name='${f.fieldName!}' id='${f.fieldName!}' placeholder='${f.alias!}' ${t!}>
                    @}
                </td>
                @}
                @}
            </tr>
            @}
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="submit" class="btn btn-green" data-icon="send">保存发布</button></li>
    </ul>
</div>
<script type="text/javascript">
    function test() {
        var json = $("#j_model_form").serializeJson();
        $.post( "${ctxPath}/system/cms/data/batchSave",
            json,
            function( data ) {
        }, "json" );
    }
</script>