<style>
    hr{
        margin-top: 3px!important;
        margin-bottom: 3px!important;
    }
</style>
<script>
    $(function() {
        $("#isAlone").change(function(){
            $("#content").removeClass("hidden");

        });
        $("#notAlone").change(function(){
            $("#content").addClass("hidden");

        });
    });
    function del(obj) {
        $(obj).bjuiajax('doAjax', {url:'${ctxPath}/system/cms/item/delete?ids=${pojo.itemId!}',confirmMsg:'子节点也会被删除，确定要删除该吗？'});
    }
</script>
<div class="bjui-pageHeader">
    <div class="bjui-searchBar">

        <a class="btn" data-icon="pencil">${has(pojo)?"编辑品种":"新增品种"}</a>&nbsp;
    </div>
</div>
<div class="bjui-pageContent">
    <form method="post" action="${ctxPath}/system/cms/item/save" id="j_model_form" data-toggle="validate" data-autorefresh="true" data-alertmsg="false">
        <input TYPE="hidden" name="itemId" value="${pojo.itemId!}">
        <div class="form-group">
            <label for="j_username" class="control-label x85">品种名称：</label>
            @if(isEmpty(pojo.itemId)){
            <input type="text" name="itemName" id="j_username" size="30"  value="${pojo.itemName!,xss}" placeholder="品种名称" size="24" data-rule="required;remote(${ctxPath}/system/cms/item/checkItem)" >
            @}else{
            <input type="text" name="itemName" id="j_username" size="30"  value="${pojo.itemName!,xss}" placeholder="品种名称" size="24" data-rule="required;" >
            @}
        </div>
        <hr>
        <div class="form-group">
            <label for="parentId" class="control-label x85">父品种：</label>
            <select id="parentId" data-toggle="selectpicker"  name="parentId">
                ${SelectItemOut(pojo.parentId!0,pojo.itemId!0,session.SysUser.siteId!0)}
            </select>
        </div>
        <hr>
        <div class="form-group">
            <label for="pageSize" class="control-label x85">分页大小：</label>
            <input type="text"  id="pageSize" name="pageSize" size="30"
                   value="${pojo.pageSize!}"  data-rule="required;integer(+)"  placeholder="分页大小">
        </div>
        <hr>
        <div id="isNotExtendUrl">

            <div  class="form-group">
                <label for="patternId" class="control-label x85">数据模型：</label>
                <select id="patternId" data-toggle="selectpicker" ${isEmpty(pojo.patternId)?"":"disabled"} data-rule="required;"  name="patternId">
                <option value="" >请选择</option>
                @for(pattern in models){
                @if(!isEmpty(pojo.patternId)&&pojo.patternId==pattern.patternId){
                <option value="${pattern.patternId!}" selected="selected">${pattern.patternName!}</option>
                @}else{
                <option value="${pattern.patternId!}">${pattern.patternName!}</option>
                @}
                @}
                </select>
            </div>
            <hr>
            <div  class="form-group">
                <label  class="control-label x85">是否单页：</label>
                @if(isNotEmpty(pojo.alone)&&pojo.alone){
                <input id="isAlone"  type="radio" name="alone" value="true" checked="checked"> 是 </input>
                <input id="notAlone"   type="radio" name="alone" value="false"> 否 </input>
                @}else{
                <input id="isAlone"   type="radio" name="alone" value="true"> 是 </input>
                <input id="notAlone"   type="radio" name="alone" value="false" checked="checked"> 否 </input>
                @}
            </div>
            <div  class="form-group">
                <label  class="control-label x85">品种类型：</label>
                @if(isNotEmpty(pojo.isCommon)&&pojo.isCommon){
                <input id="isAlone"  type="radio" name="isCommon" value="true" checked="checked"> 全局 </input>
                <input id="notAlone"   type="radio" name="isCommon" value="false"> 当前 </input>
                @}else{
                <input id="isAlone"   type="radio" name="isCommon" value="true"> 全局 </input>
                <input id="notAlone"   type="radio" name="isCommon" value="false" checked="checked"> 当前 </input>
                @}
                &nbsp;(选择全局后,添加子站点的时候将自动创建)
            </div>

                <hr>
                <div class="form-group">
                    <label for="list_tpl" class="control-label x85">品种列表：</label>
                    <input type="text" id="list_tpl" name="listTpl" size="30"
                           value="${pojo.listTpl!,xss}" placeholder="列表页模板，默认：default/list">.html &nbsp; ( 同上.)
                </div>
            </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        @if(isEmpty(pojo.itemId)){
        <li><button type="submit" class="btn-default"  data-icon="save">保存</button></li>
        @}else{
        <li><button onclick="del(this)" type="button" class="btn-close" data-icon="close">删除</button></li>
        <li><button type="submit" class="btn-default"  data-icon="save">更新</button></li>
        @}
    </ul>
</div>