<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>${site.siteName!}</title>
    <meta name="keywords" content="${site.keyword!}" />
    <meta name="description" content="${site.description!}" />
    <link href="${resPath}/site/css/base.css" rel="stylesheet">
    <link href="${resPath}/site/css/index.css" rel="stylesheet">
    <link href="${resPath}/site/css/media.css" rel="stylesheet">
    <link href="${resPath}/site/css/top.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <!--[if lt IE 9]>
    <script src="${resPath}/site/js/modernizr.js"></script>
    <![endif]-->

    <style>
        .ad-left{ float: left; width: 20%; display: table;}
        .ad-right{ float: right; width: 20%; }
        .jcarousel-wrapper{ display: inline-block; }
    </style>
</head>

<body>
<div class="ibody">
    <header>
        <div class="top-nav">
            <div class="wp">
                <div class="left">
                    <a href="javascript:;">登录</a>
                    <span class="pipe">|</span>
                    <a href="javascript:;">免费注册</a>
                    <span class="pipe">|</span>
                    <a href="javascript:;">咨询电话：021-32580386</a>
                </div>

                <div class="right">
                    <a href="member.php?mod=logging&amp;action=login" rel="nofollow" onclick="showWindow('login', this.href);return false;">专卖店使用说明</a>
                    <span class="pipe">|</span>
                    <a rel="nofollow" href="member.php?mod=register">中国金属网</a>
                    <span class="pipe">|</span>
                    <a rel="nofollow" href="member.php?mod=register">关于我们</a>
                    <span class="pipe">|</span>
                    <a rel="nofollow" href="member.php?mod=register">ENGLISH</a>
                    <span class="pipe">|</span>
                    <a rel="nofollow" href="http://account.oneplus.cn/login/forget?jump=http%3A%2F%2Fwww.oneplusbbs.com%2F&amp;source=2">产品与服务</a>
                </div>
            </div>
        </div>
        <div style="height: 90px;">
            <img src="${resPath}/site/images/logo.gif">
        </div>
        <nav id="topnav">
            <a href="${frontPath}/${site.siteId}/">首页</a>
            <#cms_category_list  siteId="${site.siteId}" categoryId="0" isNav="0" var="bean">
                @if(isNotEmpty(category)&&category.categoryId==bean.categoryId){
                <a id="topnav_current" href="${bean.url!}">${bean.categoryName!}</a>
                @}else{
                <a href="${bean.url!}">${bean.categoryName!}</a>
                @}
            </#cms_category_list>
        </nav>
    </header>
    <div style="display: table;">
        <table>
            <tr>
                <td class="cell">
                    <img src="http://localhost/static/upload/2017/9/13/1505282779479.gif">
                </td>
                <td>
                    <div class="jcarousel-wrapper">
                        <div class="jcarousel">
                            <ul>
                                <#cms_index_slider titleLen="10" size="4" var="slider">
                                    <li><img src="${slider.img}" onclick="advertise('${slider.sildeUrl}');"> </li>
                                </#cms_index_slider>
                            </ul>
                        </div>

                        <p class="jcarousel-pagination">
                        </p>
                    </div>
                </td>
                <td class="cell">
                    <img src="http://localhost/static/upload/2017/9/13/1505282918828.gif">
                </td>
            </tr>
        </table>
    </div>
    <article>
        <div class="tab">
            <h2>
                <p style="width: 120px;"><span>现货</span> XIAN HUO</p>
            </h2>
            <div>
                <div>
                    <table>
                        <tr>
                            <td>品名</td><td>价格</td><td>均价</td><td>日期</td><td>涨跌</td>
                        </tr>
                        <tr>
                            <td>品名</td><td>价格</td><td>均价</td><td>日期</td><td>涨跌</td>
                        </tr>
                        <tr>
                            <td>品名</td><td>价格</td><td>均价</td><td>日期</td><td>涨跌</td>
                        </tr>
                        <tr>
                            <td>品名</td><td>价格</td><td>均价</td><td>日期</td><td>涨跌</td>
                        </tr>
                    </table>
                    <div class="chart" style="height: 320px;">
                    </div>
                </div>
                <div></div>
            </div>
            <div>
                <div>
                    <table>
                        <tr>
                            <td>品名</td><td>价格</td><td>均价</td><td>日期</td><td>涨跌</td>
                        </tr>
                    </table>
                    <div class="chart" style="height: 320px;">
                    </div>
                </div>
                <div></div>
            </div>
        </div>
    </article>
    <aside>
        <div class="tab">
            <h3>
                <p><span>研究</span> YAN JIU</p>
            </h3>
        </div>
    </aside>
    <div class="clear"></div>
    <!-- 清除浮动 -->
    <div>
        <div class="tab">
            <h2>
                <p style="width: 190px;"><span>企业价格</span> QI YE JIA GE</p>
            </h2>
        </div>
    </div>

    <div>
        <div class="tab">
            <h2>
                <p style="width: 110px;"><span>期货</span> QI HUO</p>
            </h2>
        </div>
    </div>

    <div>
        <div class="tab">
            <h2>
                <p style="width: 104px;"><span>资讯</span> ZI XUN</p>
            </h2>
        </div>
    </div>

    <div>
        <div class="tab">
            <h2>
                <p style="width: 110px;"><span>统计</span> TONG JI</p>
            </h2>
        </div>
    </div>
    <div>
        <div class="tab">
            <h2>
                <p style="width: 230px;"><span>安泰科会议</span> ANTAIKE HUI YI</p>
            </h2>
        </div>
    </div>
</div>

<script src="${resPath}/site/js/silder.js"></script>
<script src="${resPath}/site/js/jquery.js"></script>
<script src="${resPath}/site/plugins/jquery.jcarousel.js"></script>
<script type="text/javascript">
    $(function() {
        $('.jcarousel').jcarousel();

        $('.jcarousel').on('jcarousel:targetin', 'li', function(event, carousel) {
        });

        $('.jcarousel-control-prev')
            .on('jcarouselcontrol:active', function() {
                $(this).removeClass('inactive');
            })
            .on('jcarouselcontrol:inactive', function() {
                $(this).addClass('inactive');
            })
            .jcarouselControl({
                target: '-=1'
            });

        $('.jcarousel-control-next')
            .on('jcarouselcontrol:active', function() {
                $(this).removeClass('inactive');
            })
            .on('jcarouselcontrol:inactive', function() {
                $(this).addClass('inactive');
            })
            .jcarouselControl({
                target: '+=1'
            });

        $('.jcarousel-pagination')
            .on('jcarouselpagination:active', 'a', function() {
                $(this).addClass('active');
            })
            .on('jcarouselpagination:inactive', 'a', function() {
                $(this).removeClass('active');
            })
            .jcarouselPagination();
    });
    
    function advertise(url) {
        console.log(url);
        window.open(url);
    }
</script>
</body>
</html>
